@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-color: #8a8a8a;
  --color-secondary: #eaeaea;
  --white-color: #fff;
  --color-quaternary: #f5f5f5;
  --text-color: #333;
  --success-color: #28a745;
  --border: #0c0c0c;
}

button {
  padding: 5px;
  cursor: pointer;
  max-width: 70px;
  width: 100px;
  border: 1px solid var(--border);
  box-shadow: 4px 4px 0 var(--border);
  background: transparent;
  color: var(--border);
}

button:hover { background-color: var(--gray-color); }

button:active {
  background-color: var(--gray-color);
  box-shadow: 0 5px var(--success-color);
  transform: translateY(4px);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--color-quaternary);
}

main {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--gray-color);
  margin-top: 60px;
}

.content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.main-title {
  padding: 0 10px;
}

/* right side css */
.name-score {
  width: 50%;
}

.score-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--gray-color);
  font-size: 13px;
  height: auto;
}

tr:nth-child(even) {
  background-color: var(--color-secondary);
}

/* right side css */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

form input {
  border: 1px solid var(--gray-color);
  padding: 5px;
  width: 100%;
  font-size: 13px;
  color: var(--text-color);
  outline: none;
}

footer {
  background: var(--gray-color);
  width: 100%;
  height: 20px;
}
